#stars-frame .glyphicon {
    margin: 0.3em;
    font-size: 1.75em;
}

#stars-frame, #answer-frame {
    width: 40%;
    float: left;
}

#button-frame {
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 50px;
}

#stars-frame .well, #answer-frame .well {
    height: 150px;
}

#game {
    width: 400px;
}

.number,  #answer-frame .well span {
    display: inline-block;
    margin: 0.5em;
    background-color: #bbb;
    width: 30px;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
    cursor: pointer;
}

.selected-true {
    background-color: #ccc;
    cursor: default;
    color: #ddd;
}

.used-true {
    background-color: #ada;
    cursor: default;
    color: #ddd;
}